<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="static\Stylesheet.css">
    <script src="static\JSD.js"></script>
</head>

<body>
    <div style="margin-top: 50px;"  class="ui container" id="Beginn">
        <center><img src="../static/image/1.png" alt="centered image" width="30%" >
            <a href="{{url_for('home')}}" class="ui yellow button"> START IT NOW !</a></center>
    </div>

</body>
</html>
